body{
    background-color: blue;
}
.whatwehave{
    background-color: yellow;
}
.wildlifeofkenya{
    background-color: chartreuse;
}
.someofkenyasfarms{
    background-color: crimson;
}
.goodthingsaboutkenya{
    background-color: darkorange;
}