body{
    background-color: blue;
}
.whatwehave{
    background-color: red;
}
.wildlifeofkenya{
    background-color: gold;
}
.someofkenyasfarms{
    background-color: chartreuse;
}
.goodthingsaboutkenya{
    background-color: darkblue;
}